@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }
  html, body {
    height: 100%;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  #root, #__next {
    isolation: isolate;
  }



body {
    background-image: url(images/bg-mobile.svg);
    background-color: hsl(257, 40%, 49%);
    background-repeat: no-repeat;
    background-size: cover;
}

.contenedor {
    display: flex;
    flex-direction: column;
    padding: 3em;
}


.huddle {
  margin-bottom: 4em;
  width: 14em;
}

.textos {
    margin-top: 5em;
}

.textos h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: white;
    font-size: 2em;
    text-align: center;
}

.textos p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: white;
    text-align: center;
    padding-top: 1em;
    font-size: 1rem;
}


.boton {
    background-color: white;
    box-shadow: 1px 1px 2px black;
    color: hsl(300, 69%, 71%);
    padding: 0.9em 4em 0.9em 4em;
    border-radius: 10em;
    cursor: pointer;
    text-align: center;
    width: 15em;
    margin: auto;
    margin-top: 2em;
}

.boton span a {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.boton:hover {
    background-color: hsl(300, 69%, 71%);
}

.iconos {
    display: flex;
    justify-content: center;   
    margin-top: 5em;
}

.caja {
    width: 2.5em;
    border: 2px solid black;
    border-radius: 50%;
    padding: 0.4em;
    margin: 0.5em;   
    cursor: pointer;
}

.caja:hover {
  background-color: hsl(300, 69%, 71%);
}

@media (min-width: 1024px) {
   body {
    background-image: url(images/bg-desktop.svg);
   }


   .contenedor {
    display: flex;
    flex-direction: row;
   }


   .imagen {
    width: 80em;
    max-width: 50vw;
   }

   .textos {
    display: flex;
    flex-direction: column;
    margin-top: 20vh;
    margin-left: 5em;
   }

   .textos h2 {
    text-align: left;
    font-size: 3rem;
    padding-right: 3em;
   }

   .textos p {
    width: 40vw;
    text-align: left;
    padding-right: 19em;
    font-size: 1rem;
   }
   
   .boton {
    margin-left: 0;
   }

   .iconos {
    display: flex;
    justify-content: flex-end;
    margin-right: 4em;
    padding-top: 13.5em;
   }

   
}
